<div class="row tecno justify-content-evenly text-center">
    <h3 class="text-primary">Tecnologias</h3>
    <div class=" card text-center col-5 col-3 col-lg-3 col-sm-5 gy-sm-5 d-block ">
        <div class="card-header bg-light col">
            <img class="img-fluid" src="~/Imagenes/Backend.png" />
        </div>

        <div class="card-body text-center ">
            <h5 class="text-primary">Stack</h5>
            <p>Windows Form, Asp.Net & Sql Server</p>
            <h5 class="text-primary">Experiencia</h5>
            <p class="text-primary">
                <ul style="list-style:none;padding-left:inherit; ">
                    <li>Asp.Net</li>
                    <li>Blazor</li>
                    <li>Entity Framework</li>
                    <li>Dapper</li>
                    <li>Imapper</li>
                    <li>Sql Server</li>
                </ul>
            </p>

        </div>
    </div>
    <div class=" card text-center col-5 col-3 col-lg-3 col-sm-5 gy-sm-5 d-block ">
        <div class="card-header col bg-light">
            <img class="img-fluid" src="~/Imagenes/Fronend.png" />
        </div>

        <div class="card-body text-center">
            <h5 class="text-primary">Stack</h5>
            <p>Windows Form, Asp.Net & Sql Server</p>
            <h5 class="text-primary">Experiencia</h5>
            <p class="text-primary">
                <ul style="list-style:none; padding-left:inherit;">
                    <li>Html</li>
                    <li>Css</li>
                    <li>JS</li>
                    <li>Boostrap</li>
                    <li>Radzen</li>
                    <li>DevExpress</li>
                </ul>
            </p>

        </div>
    </div>
</div>
