<div class="text-center">
    <img id="foto_perfil" class="img-fluid  rounded "
         src="~/Imagenes/Foto_Otoniel.jpg" />
    <h1 class="display-4">Hola, soy Otoniel Martinez</h1>
    <h2>Soy Ing. es Sistemas computacionales y .Net Developer.</h2>

</div>

<div class="row justify-content-center">
    <img class="netLogo " src="~/Imagenes/691efb00-8303-11ea-8c55-ab6bb5e2676a.png" alt="logoNet" />
</div>


<div class="row justify-content-center text-center bg-primary m-4">
    <div class="col col-md-7 section-portafolio ">

        <h1> Bienvenido a mi portafolio</h1>
        <p>
            Ingrese al mundo de la programacion desde los 18 años, aprendiendo tecnologias desde su fucionamiendo fundamental y
            en otras a mas profuncidad. Entre ellas destacan JAVA, JAVASCRIPT, C#/.NET, ENTITYFRAMEWORK,IMAPPER Y ASP.NET.
        </p>

    </div>
</div>
